<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="repoBrowser" class="org.uccreator.action.RepoBrowserAction">
		<property name="catalog" ref="catalog" />
	</bean>

	<bean id="catalog" class="org.uccreator.repository.BackendCatalog">
		<property name="handlers">
			<list>
				<ref bean="handler_svn"/>
			</list>
		</property>
	</bean>
	
	<bean id="handler_svn" class="org.uccreator.repository.backend.SubversionHandler"/>
	
</beans>